<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jupither/template/style.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jupither/template/style/css/media-queries.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jupither/template/style/type/delicious.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jupither/template/style/type/brawler.css")" media="all" />
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jupither/template/style/css/ie8.css")" media="all" />
    <![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jupither/template/style/css/ie9.css")" media="all" />
    <![endif]-->

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/jupither/template/style/js/ddsmoothmenu.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/jupither/template/style/js/zeta-slider.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/jupither/template/style/js/jquery.slickforms.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/jupither/template/style/js/tinynav.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/jupither/template/style/js/twitter.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/jupither/template/style/js/scripts.js")"></script>
</head>
<body>
    <div class="wrapper">
        <div class="header"> 
            <!-- Begin Logo -->
            <div class="logo">
                <a href="index.html"><img src="@Url.Content("~/Content/images/logo_wide.png")" alt="Logo"></a>
            </div>
            <!-- End Logo --> 
            <!-- Begin Menu -->
            <div id="menu" class="menu">
                <ul id="tiny" class="l_tinynav1">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Galeries", "Index", "Galleries")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Pricing", "Pricing", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
            <div class="clear"></div>
            <!-- End Menu --> 
        </div>
        
        <div id="container">
            
            <div class="intro">
                <p>@ViewBag.Message</p>
                @Html.Partial("_Social")
            </div>

            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="footer-wrapper">
    </div>
</body>
</html>
